.annotaterb.yml
.byebug_history
.claude
.dockerignore
.env*
.eslint*
.git
.gitattributes
.github
.gitignore
.herb.yml
.prettierignore
.prettierrc.json
.rspec
.rubocop.yml
.ruby-lsp
.simplecov
.vscode
**/*.DS_Store
AGENTS.md
bin/brakeman
bin/bundler-audit
bin/ci
bin/dev
bin/herb
bin/open
bin/rspec
bin/rubocop
bin/setup
bootstrap
Brewfile
Caddyfile
CLAUDE.md
config/brakeman.ignore
config/bundler-audit.yml
config/ci.rb
config/environments/development.rb
config/environments/test.rb
coverage
Dockerfile
docs
!docs/legal
eslint.config.mjs
Guardfile
log/*
node_modules
Procfile*
README.md
screenshot-*.jpg
spec
stack
storage/development*
storage/test*
vitest.config.mts

tmp/*
!/tmp/pids/
!/tmp/pids/.keep
