.annotaterb.yml
.byebug_history
.dockerignore
.env*
.eslint*
.git
.github
.gitignore
.gitattributes
.rspec
.rubocop.yml
.vscode
.yarnclean
.prettierignore
.prettierrc.json
.simplecov
**/*.DS_Store
Brewfile
Dockerfile
Procfile*
Guardfile
log/*
node_modules
tmp/*
!/tmp/pids/
!/tmp/pids/.keep
yarn-error.log
config/environments/test.rb
config/environments/development.rb
config/brakeman.ignore
config/bundler-audit.yml
config/ci.rb
spec
coverage
bin/dev
bin/rspec
bin/rubocop
bin/setup
bin/yarn
bin/bundler-audit
bin/ci
bin/open
bin/brakeman
eslint.config.mjs
docs
.claude
.herb.yml
.overmind.sock
.ruby-lsp
CLAUDE.md
stack
storage/development*
storage/test*
